@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 22px;
}

.open-sans-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-nav {
  display: grid;
  grid-template-columns: 2fr 350px 0.25fr;
  align-items: center;
  max-width: 1140px;
  margin: 30px 150px 180px 150px;
  margin: auto;
}

.nav-item {
  display: flex;
  gap: 50px;
}
.nav-item a {
  text-decoration: none;
  color: #252432;
}
.nav-colour {
  color: rgba(0, 0, 0, 0.5);
}
.banner {
  display: flex;
  max-width: 1140px;
  align-items: center;
  margin: 20px 150px;
  margin: auto;
}
.banner-text {
  width: 50%;
}
.banner-image {
  width: 50%;
  text-align: right;
}
.banner-header {
  font-family: "Noto Serif";
  font-size: 65px;
  font-weight: 600;
}
.banner-para {
  color: rgba(0, 0, 0, 0.5);
}
.main-text {
  max-width: 1140px;
  /* margin: 40px 150px; */
  text-align: center;
  margin: 80px auto;
}
.main-text-h {
  font-size: 50px;
  font-family: "Noto Serif";
}
.main-text-p {
  width: 888px;
  color: rgba(0, 0, 0, 0.5);
  align-items: center;
  margin: 20px 150px;
  margin: auto;
}

.different-plant {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1140px;
  margin: 100px auto;
}
.plant-sample1 {
  text-align: center;
}
.sample-h4 {
  font-weight: 500;
}
.sample-h5 {
  font-weight: 700;
}
.button-a {
  width: 270px;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.main-middle {
  display: flex;
  max-width: 1140px;
  gap: 40px;
  align-items: center;
  margin: 80px auto;
  padding-top: 100px;
}
.main-middle-header {
  font-size: 50px;
  font-family: "Noto Serif";
}
.main-middle-ht {
  padding: 38px;
}
.main-middle-text {
  color: rgba(0, 0, 0, 0.5);
}
.main-middle-badge {
  position: relative;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.badge img {
  height: 286px;
  width: 286px;
  position: absolute;
  top: -100px;
  right: -100px;
  animation: spin 0.5s linear infinite;
}
.main-bottom {
  max-width: 1140px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}
.main-bottom-h {
  font-size: 50px;
  font-family: "Noto Serif";
}
.main-bottom-p {
  width: 888px;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 150px;
}
.main-bottom-collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 150px;
  gap: 20px;
  /* align-items: center; */
  max-width: 1140px;
  margin: auto;
}

.img2 {
  grid-column: span 2;
  grid-row: span 2;
}
.img1,
.img2,
.img3 {
  position: relative;
}
.image1,
.image2,
.image3 {
  filter: brightness(40%);
  border-radius: 10px;
  width: 100%;
}
.image-content1 {
  position: absolute;
  top: 80px;
  right: 80px;
  color: #ffffff;
  font-size: 20px;
}
.image-content2 {
  position: absolute;
  top: 170px;
  right: 180px;
  color: #ffffff;
  font-size: 20px;
}
.image-content3 {
  position: absolute;
  top: 80px;
  right: 80px;
  color: #ffffff;
  font-size: 20px;
}
.image-content3 h3 {
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}
.image-content3 h2 {
  font-size: 20px;
  text-align: center;
  font-family: "Noto Serif", serif;
}
.image-content1 h3 {
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}
.image-content1 h2 {
  font-size: 20px;
  text-align: center;
  font-family: "Noto Serif", serif;
}
.image-content2 h3 {
  font-size: 28px;
  text-align: center;
  text-decoration: underline;
}
.image-content2 h2 {
  font-size: 40px;
  font-family: "Noto Serif", serif;
}
.join-section {
  background-image: url(/news-letter-bg.png);
  height: 533px;
  background-size: cover;
  margin-top: 100px;
}

.join-container {
  width: 830px;
  height: 533px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.main-join-section {
  color: #ffffff;
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: 700;
  padding: 20px 0;
}
.join-input {
  /* display: flex; */
  width: 644px;
  height: 50px;
  padding: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
}
.join-button {
  width: 186px;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 70px 150px;
}
.footer-columnl {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.footer-column2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-column2 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer-column {
  display: flex;
  gap: 30px;
}
.footer-column img {
  width: 36px;
  height: 36px;
}
/* responsive */
